In [15]:
#Final data teamwise

#The final dataset contains 21 columns
#•gameid: ID of the game on transfermarkt
#•tournament: tournament during which the game took place
#•gametype: which round of the tournament the game took place in
#•team: The team
#•teamid: ID of the team on transfermarkt
#•result: Number of goals scored by the team in that game
#•team_age: Average age of the team
#•deff_val_1: Average market value of the players in team minus average market value of the opponent in the game
#•deff_val_2: 1-(average market value of the team)/(average markte value of the opponent)
#•past_result: Weighted moving average of goals scored by the team in past encounters against the same opponet team as in this game
    
#Target variables are
#•result

#Possible predictor variables are
#•gametype
#•deff_val_1, deff_val_2
#•past_result

In [7]:
import csv
import unicodecsv
with open("final.csv", mode="r", newline='\n', encoding='utf-8') as infile:
    reader=csv.DictReader(infile, delimiter = ";")   
    with open("final_teamwise.csv", mode="w", encoding='utf-8') as outfile:
        writer = csv.writer(outfile, delimiter=',' , lineterminator='\n')
        gameid="gameid"
        tournament="tournament"
        gametype="gametype"
        team = "team" 
        teamid = "teamid"
        result="result" 
        date = "date"
        age = "age"
        diff_value_1 = "diff_value_1" # the diff value between the team and the opponent
        diff_value_2 = "diff_value_2" # 1- (team value)/(opponent team value)
        past_result = "past_result"
        

        writer.writerow([gameid, tournament, gametype, team, teamid, result, age, diff_value_1, diff_value_2, past_result])
        for row in reader:
            gameid=row["gameid"]
            tournament=row["tournament"]
            gametype=row["gametype"]
            teamA=row["teamA"]
            teamB=row["teamB"]
            past_resultA = row["past_resultA"]
            past_resultB = row["past_resultB"]
            teamidA = row["teamidA"]
            teamidB = row["teamidB"]
            resultA=row["resultA"]
            resultB=row["resultB"]
            date = row["date"]
            teamA_age=row["teamA_age"]
            teamB_age=row["teamB_age"]
            teamA_def_val = float(row["teamA_def_val"])
            teamB_def_val = float(row["teamB_def_val"])
            teamA_off_val = float(row["teamA_off_val"])
            teamB_off_val = float(row["teamB_off_val"])
            teamA_frag = row["teamA_frag"]
            teamB_frag = row["teamB_frag"]
            teamA_value = teamA_def_val+teamA_off_val
            teamB_value = teamB_def_val+teamB_off_val
            
            team=teamA
            teamid = teamidA
            age=teamA_age
            diff_value_1 = teamA_value-teamB_value
            diff_value_2 = float(1-teamB_value/teamA_value)# teamA_value increasing, teamB decreasing
            result=resultA
            past_result=past_resultA
            writer.writerow([gameid, tournament, gametype, team, teamid, result, age, diff_value_1, diff_value_2, past_result])
            team=teamB
            teamid = teamidB
            age=teamB_age
            diff_value_1 = teamB_value-teamA_value
            diff_value_2 = float(1-teamA_value/teamB_value)
            result=resultB
            past_result=past_resultB
            writer.writerow([gameid, tournament, gametype, team, teamid, result, age, diff_value_1, diff_value_2, past_result])
        outfile.close()
    infile.close()

In [10]:
data=pd.read_csv(filepath_or_buffer="final_teamwise.csv",delimiter=",",index_col=False).round(2)

In [11]:
data.head()

,gameid,tournament,gametype,team,teamid,result,age,diff_value_1,diff_value_2,past_result
0,910204,EM08,Finale,Deutschland,3262,0,26.78,-13009090.91,-0.64,1.14
1,910204,EM08,Finale,Spanien,3375,1,26.09,13009090.91,0.39,2.90
2,910203,EM08,Halbfinale,Russland,3448,0,25.76,-22916048.95,-2.07,0.95
3,910203,EM08,Halbfinale,Spanien,3375,3,26.09,22916048.95,0.67,3.80
4,910200,EM08,Halbfinale,Deutschland,3262,3,26.78,12141378.07,0.60,0.95

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132 entries, 0 to 1131
Data columns (total 10 columns):
gameid          1132 non-null int64
tournament      1132 non-null object
gametype        1132 non-null object
team            1132 non-null object
teamid          1132 non-null int64
result          1132 non-null int64
age             1132 non-null float64
diff_value_1    1132 non-null float64
diff_value_2    1132 non-null float64
past_result     878 non-null float64
dtypes: float64(4), int64(3), object(3)
memory usage: 88.5+ KB

In [13]:
data.isnull().sum()

gameid            0
tournament        0
gametype          0
team              0
teamid            0
result            0
age               0
diff_value_1      0
diff_value_2      0
past_result     254
dtype: int64

In [ ]:
# upload final_teamwise.csv into facets to explore the data